streamlit
python-dotenv
pandas
openpyxl
langchain-core
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
neo4j
sentence-transformers
python-docx
Pillow
pytesseract

PyMuPDF
